.wrapper {
  width: 100%;
  height: 100%;
}

body {
  margin: 0px;
  width: 100%;
  height: 100%;
  background-color: #fafafa;
}

header {
  width: 100%;
  display: grid;
  grid-template-rows: auto 840px;
  grid-template-columns: auto;
  background-image: url(/img/img6.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: background 0.8s ease;
  -o-transition: background 0.8s ease;
  transition: background 0.8s ease;
}

header h1 {
  text-align: center;
  font-size: 2.8em;
  margin: 5% 5%;
  color: #ffffff;
  text-shadow: #474747 3px 5px 2px;
  font-family: Inter;
  font-weight: 800;
}

.logo_contact {
  width: 100%;
  margin: auto 0px auto 0px;
  display: grid;
  grid-template-columns: auto 350px;
  grid-template-rows: 200px;
}

.logo {
  display: grid;
  grid-template-rows: 110px auto;
}

.logo img {
  width: 200px;
  margin-top: 20px;
  margin-left: 50px;
  margin-bottom: 55.2%;
}

.logo h3 {
  margin-top: 10px;
  padding-left: 60px;
  font-family: Inter;
  color: #000000;
  text-shadow: 3px 2px 3px rgba(255, 255, 255, 0.2);
}

.header_contact {
  margin-top: 45px;
  display: grid;
  grid-template-columns: 40px 40px 40px 160px;
  grid-template-rows: 40px auto;
}

.header_contact img {
  height: 25px;
}

.whatsapp_icon {
  -webkit-filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(87deg) brightness(119%) contrast(119%);
          filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(87deg) brightness(119%) contrast(119%);
}

.viber_icon {
  -webkit-filter: invert(42%) sepia(85%) saturate(4366%) hue-rotate(239deg) brightness(90%) contrast(90%);
          filter: invert(42%) sepia(85%) saturate(4366%) hue-rotate(239deg) brightness(90%) contrast(90%);
}

.header_contact a {
  text-decoration: none;
  font-family: Inter;
  font-weight: bold;
  color: #000000;
  text-shadow: 3px 2px 3px rgba(255, 255, 255, 0.2);
}

.content {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto auto;
  justify-items: center;
  font-family: Inter;
}

.menu {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  background-color: #dc1d1d;
  color: #ffffff;
  justify-items: center;
}

.menu a {
  padding: 10px;
  text-decoration: none;
  color: #ffffff;
}

.menuBtn {
  margin: 0px;
  background-color: #dc1d1d;
  color: #ffffff;
  border: none;
  font-family: Inter;
  font-size: 16px;
  cursor: pointer;
}

.service {
  width: 100%;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  background-color: #034fa3;
  color: #ffffff;
  text-align: center;
}

.service_sub {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
}

.service img {
  margin-top: 50px;
  -webkit-filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(34deg) brightness(100%) contrast(103%);
          filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(34deg) brightness(100%) contrast(103%);
}

.truck {
  width: 130px;
  -webkit-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
          transform: scaleX(-1);
}

.user {
  width: 120px;
}

.distrib {
  width: 128px;
}

.myButton {
  width: 100px;
  margin-bottom: 50px;
  -webkit-box-shadow: inset 0px 1px 0px 0px #7a8eb9;
          box-shadow: inset 0px 1px 0px 0px #7a8eb9;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #034fa3), to(#034fa3));
  background: -o-linear-gradient(top, #034fa3 5%, #034fa3 100%);
  background: linear-gradient(to bottom, #034fa3 5%, #034fa3 100%);
  background-color: #637aad;
  border: 1px solid #314179;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 13px;
  font-weight: bold;
  padding: 6px 12px;
  text-decoration: none;
}

.myButton:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #5972a7), to(#637aad));
  background: -o-linear-gradient(top, #5972a7 5%, #637aad 100%);
  background: linear-gradient(to bottom, #5972a7 5%, #637aad 100%);
  background-color: #5972a7;
}

.myButton:active {
  position: relative;
  top: 1px;
}

.main_text {
  margin: 50px auto 20px 55px;
  color: #034fa3;
}

.text {
  margin-bottom: 50px;
}

.text p {
  margin-left: 55px;
  margin-right: 55px;
  margin-bottom: 5px;
}

#main_page {
  display: block;
}

#text_service {
  display: none;
}

#contact_info {
  display: none;
}

.p_text {
  margin-top: 0px;
}

@media (max-width: 630px) {
  header {
    width: 100%;
    display: grid;
    grid-template-rows: auto auto auto;
  }

  .logo_contact {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .menu {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto;
  }

  .service {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
  }

  header h1 {
    font-size: 24px;
    margin: 6% 1% 6% 1%;
  }

  .myButton {
    width: 100px;
    margin-bottom: 10px;
  }

  .service_sub p {
    margin-top: 1px;
  }

  .service img {
    margin-top: 10px;
  }

  .p_text {
    display: none;
  }

  .text {
    text-align: center;
  }

  .main_text {
    text-align: center;
    margin: 50px auto auto auto;
  }

  .header_contact a {
    color: #ffffff;
    text-shadow: #474747 3px 5px 2px;
  }

  #contact_info a {
    color: #000000;
    text-shadow: 3px 2px 3px rgba(255, 255, 255, 0.2);
  }
}

.webp header { background-image: url(/img/img6.webp); }